services:
  web:
    build: .
    command: >
      bash -c "python manage.py migrate && 
               gunicorn --bind 0.0.0.0:8000 config.wsgi:application"
    env_file:
      - .env
    environment:
      - HOST=db
      - DATABASE_HOST=db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web

  db:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${NAME}
      - POSTGRES_USER=${USER}
      - POSTGRES_PASSWORD=${PASSWORD}
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER} -d ${NAME}"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: "redis:7-alpine"
    expose:
      - "6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  celery:
    build: .
    env_file:
      - .env
    environment:
      - HOST=db
      - DATABASE_HOST=db
    command: celery -A config worker -l INFO
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - .:/app

  celery_beat:
    build: .
    env_file:
      - .env
    environment:
      - HOST=db
      - DATABASE_HOST=db
    command: celery -A config beat -l INFO
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - .:/app

volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
